{% extends "base.html" %}
{% block content %}
<div class="card" style="max-width:400px">
  <h2>🔑 Ganti Password</h2>
  <form method="post">
    <div class="row"><div><label>Password Lama</label><input name="password_lama" type="password" required></div></div>
    <div class="row" style="margin-top:8px"><div><label>Password Baru</label><input name="password_baru" type="password" required minlength="6"></div></div>
    <div class="row" style="margin-top:8px"><div><label>Konfirmasi Password Baru</label><input name="konfirmasi" type="password" required minlength="6"></div></div>
    <div style="margin-top:12px"><button class="btn yellow" type="submit">Simpan Password</button></div>
  </form>
</div>
{% endblock %}
